    <section id="bathrooms">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center banner">
                    <h2 class="section-heading">Bathrooms</h2>
                    <p class="section-subheading text-muted">A well designed bathroom should complement the style and feel of the home.</p>
                </div>
            </div>
       </div>
    </section>