    <!-- Clients Aside -->
    <aside class="clients">
        <div class="row dark">
            <div class="col-sm-6">
                <a target="_blank" href="http://www.cambriacanada.com/new-design/">
                    <img src="img/logos/cambria.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-sm-6">
                <a target="_blank" href="http://elmwoodkitchens.com/">
                    <img src="img/logos/elmwood.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://deslaurier.ca/">
                    <img src="img/logos/deslaurier.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://www.granitdesign.com/">
                    <img src="img/logos/granit-design.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://www.kitchencraft.com/">
                    <img src="img/logos/kitchen-craft.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="https://www.miralis.com/en">
                    <img src="img/logos/miralis.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://www.naturekast.com/">
                    <img src="img/logos/nature-kast.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://www.richelieu.com/ca/en/">
                    <img src="img/logos/richelieu.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a target="_blank" href="http://urbanquarry.ca/en">
                    <img src="img/logos/urban-quarry.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </aside>