<section id="counters" class="portfolio bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stone Countertops</h2>
                    <h3 class="section-subheading text-muted">Offering an extensive array of styles and edging, our countertops serve as the finishing touch to your new custom cabinetry.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
                    <span class="portfolio-link">
                        <img src="img/granite/stone-granite.jpg" class="img-responsive" alt="">
                    </span>
                    <div class="portfolio-caption">
                        <h4>Granite</h4>
                        <p><strong>Granite</strong> is a coarse grained crystalline igneous rock composed primarily of quartz and feldspar. It forms from slowly cooling magma that is subjected to extreme pressures deep beneath the earth's surface. The natural beauty and sophistication of granite makes it an easy choice for your kitchen remodel.</p>
                        <ul>
                            <li>Naturally beautiful</li>
                            <li>Hard natural stone</li>
                            <li>Extremely durable</li>
                            <li>Scratch &amp; Heat resistant</li>
                            <li>Wear resistant</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <span class="portfolio-link">
                        <img src="img/granite/stone-quartzite.jpg" class="img-responsive" alt="">
                    </span>
                    <div class="portfolio-caption">
                        <h4>Quartzite</h4>
                        <p><strong>Quartzite</strong> is a natural stone formed by the crystallization of sandstone due to heat and pressure underground. Some quartzite are opaque and some are so translucent that light can shine through them. In its’ purest form it’s white like marble, but can have impurities in it that lead to some incredible patterns and colors.</p>
                        <ul>
                            <li>Naturally beautiful and stylish</li>
                            <li>Time durable</li>
                            <li>Natural hard rock</li>
                            <li>Uniform appearance</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <span class="portfolio-link">
                        <img src="img/granite/stone-marble.jpg" class="img-responsive" alt="">
                    </span>
                    <div class="portfolio-caption">
                        <h4>Marble</h4>
                        <p><strong>Marble</strong> is a hard crystalline metamorphic form of limestone, typically white with coloured mottling or streaks, which may be polished and is used in different objects and architecture.</p>
                        <ul>
                            <li>Classic and elegant look</li>
                            <li>Distinct veining pattern</li>
                            <li>Durable when properly maintained</li>
                            <li>Great for bathrooms, backsplashes, fireplaces, furniture tops.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <span class="portfolio-link">
                        <img src="img/granite/stone-quartz.jpg" class="img-responsive" alt="">
                    </span>
                    <div class="portfolio-caption">
                        <h4>Quartz</h4>
                        <p><strong>Quartz</strong> is a man-made material that consists of 93% crushed quartz mixed with pigments and epoxy resin. Unlike natural stone, it doesn’t need periodic sealing, polishing or reconditioning. Because it's non-porous and non-absorbent, it won't draw in moisture from raw or leftover food, which can harbor harmful bacteria. A great choice where overhang is needed without support.</p>
                        <ul>
                            <li>Naturally beautiful</li>
                            <li>Durability in time</li>
                            <li>Scratch resistant</li>
                            <li>Stain resistant</li>
                            <li>High heat resistant</li>
                            <li>No sealing or polishing needed</li>
                            <li>Easy to clean</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>