<!-- Header -->
    <header class="masthead">
    {{>nav}}
      <div class="container">
            <h1 class="sr-only">Welcome To Artisan Kitchen and Bath!</h1>
            <p class="intro-lead-in"><img class="img-responsive" src="./img/logos/artisan.png" alt="Artisan Kitchen and Bath logo"></p>
            <p><a href="#services" class="page-scroll btn btn-xl">Services</a></p>
        </div>
      </div>
    </header>