<section id="kitchens" class="portfolio bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kitchens</h2>
                    <h3 class="section-subheading text-muted">We design our kitchens around three main styles each with their own unique feel and appearance. Click through to see some of our past work specially created to meet each customer’s needs, and budget.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <img src="./img/portfolio/traditional.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Traditional</h4>
                        <p>Warm, elegant and cozy, traditionally styled kitchens are timeless and inviting. Traditional kitchens emphasize symmetry, incorporating elaborate details such as:</p>
                        <ul>
                            <li>Crown Molding, fluting, corbels and other ornamentation.</li>
                            <li>Raised panel door styles</li>
                            <li>Cherry, Maple, Walnut cabinetry</li>
                            <li>Vintage &amp; Glazed finishes</li>
                            <li>Antique fixtures and appliances</li>
                            <li>Wood, stone or other natural materials</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <img src="./img/portfolio/transitional.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Transitional</h4>
                        <p>Offering the best of both worlds, transitional kitchens include elements of both traditional and contemporary design equating to a classic look. Eclectic in nature, they mix natural and man-made materials as well as finishes and textures. Subtle accents draw the eye, adding flair without going overboard.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <span class="portfolio-link">
                    <img src="./img/portfolio/contemporary.jpg" class="img-responsive" alt="">
                    </span>
                    <div class="portfolio-caption">
                        <h4>Contemporary</h4>
                        <p>Also described as modern, clean and crisp contemporary kitchens are sleek and minimalistic, but far from plain and simple.</p>
                        <p>You can expect to see the following characteristics in a contemporary kitchen:</p>
                        <ul>
                            <li>Horizontal lines</li>
                            <li>Textured melamine or wood grain veneers</li>
                            <li>White or bold color, Satin or high gloss finishes</li>
                            <li>Slab door style, lift up hardware</li>
                            <li>No moldings or ornamentation</li>
                            <li>Stainless steel and other metallic accents</li>
                            <li>Quartz countertops</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>