    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <h2 class="sr-only">Site navigation</h2>
        <div class="container">
            <a class="navbar-brand page-scroll" href="#page-top">Artisan Kitchen and Bath</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                {{!-- <li class="hidden">
                    <a href="#page-top"></a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#kitchens">Kitchens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#bathrooms">Bathrooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#counters">Counters & Backsplashes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
