    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Artisan Wood Designs offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <p class="service-heading h4">Design</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <p class="service-heading h4">Install</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <p class="service-heading h4">Custom Cabinets</p>
                </div>
            </div>
        </div>
    </section>