/* Custom Styles */
.nav-item {
	margin-right: 20px;
	/* Adjust as needed */
}

.nav-item:not(:first-child) {
	border-left: 1px solid #000;
	/* Adjust color as needed */
	padding-left: 20px;
	/* Adjust as needed */
}

main section, main aside {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;}

/* steps */
.steps ul {
	list-style-position: inside;
	padding-left: 5px;
}

.steps ul li {
	position: relative;
	padding-left: 2em;
	border: 1px solid #000;
	box-sizing: border-box;
	margin: 10px;
	padding: 15px;
	background-color: #fff;
	/* Dark grey background */
	color: #000;
	/* White text */
}

.steps ul li i {
	color: #000;
	/* White icons */
}

blockquote {
	position: relative;
	padding-left: 10px;
}

blockquote::before {
	content: "\201C";
	font-size: 3em;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #ccc;
	/* Adjust color as needed */
}

footer.blockquote-footer {
	color: rgb(255, 235, 59);
	/* Light yellow text */
}

li[itemprop="address"] {
	position: relative;
	padding-left: 30px;
	/* Adjust as needed */
}

li[itemprop="address"] i.fa {
	position: absolute;
	left: 0;
	top: 0;
}