---
title: About us
desctipton: Artisan Wood Designs offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.
layout: layouts/base.njk
image:
  src: about.jpg
  alt: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
---
