---
title: About us
description: Artisan Kitchen and Bath, based in Cornwall, Ontario, is your premier destination for personalized custom cabinetry solutions. With an unwavering commitment to excellence in craftsmanship, creativity, and professionalism, our team offers tailored services from design conception to meticulous installation. Whether you're envisioning a new home or remodeling your existing space, our dedication to exceptional quality ensures that our work enhances both the beauty and value of your property to create distinctive, enduring spaces that reflect your unique style and preferences.
layout: layouts/base.njk
image:
  src: about.jpg
  alt: A sleek kitchen featuring white cabinetry, a large marble-topped island with gray seats, stainless steel appliances, dark slate flooring, and pendant cylinder lights.
---
<section class="px-4 py-2 mt-2">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-lg-6">
			<h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meet the owners</h2>
			<p class="lead">Meet Steve and Manny, the dynamic duo whose friendship and shared passion for design and craftsmanship blossomed into the thriving Artisan Kitchen and Bath. Their journey began in a modest workshop in Cornwall, where their dreams and hard work laid the foundation of what would become a beacon of quality and innovation in kitchen and bath design. Starting in their 20s with ambition and a hands-on approach, they’ve grown their business with a personal touch, overseeing every project to ensure it meets their exacting standards. Now, with a talented team of eight employees and a portfolio brimming with continuous, high-quality builds, Steve and Manny remain at the heart of the operation, infusing each space with their relentless energy and creative vision. Their story is one of friendship, dedication, and a commitment to creating spaces that are not just functional, but truly the centerpieces of their clients' homes.</p>
		</div>
		<div class="col-12 col-lg-6">
			<img src="{{ settings.baseUrl }}img/steveandmanny.webp" class="d-block mx-lg-auto img-fluid" alt="Steve and Manny, co-owners in their early 40s, standing in their kitchen showroom. Steve wears jeans with a blazer, and Manny is in slacks and a shirt, both with welcoming smiles.">
		</div>
	</div>
</section>

<section class="px-4 py-2 mt-2">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-12">
			<h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meet the Designers</h2>
			<p class="lead">Kathrin and Chantal are the creative pulse behind the captivating designs at Artisan Kitchen and Bath. With an impeccable eye for detail and a shared philosophy that form should follow function, this talented duo brings a fresh perspective to every project. Kathrin, with her sophisticated European flair, blends modern and classic elements to create timeless spaces. Chantal, whose expertise lies in contemporary design, infuses spaces with clean lines and innovative features that optimize the heart of the home. Together, they work in tandem to turn ordinary rooms into extraordinary, personalized havens that not only look spectacular but live comfortably. Their commitment to exceptional design has earned Artisan Kitchen and Bath a reputation for spaces that are as beautiful as they are functional.</p>
		</div>
		<div class="col-12 col-lg-6">
			<img src="{{ settings.baseUrl }}img/kathrin.webp" class="d-block mx-lg-auto img-fluid" alt="Kathrin, a kitchen designer in her early 30s, with a friendly demeanor, dressed in a smart business suit in a modern kitchen design studio.">
			<p class="lead mt-4">Kathrin brings a sophisticated European design sensibility to Artisan Kitchen and Bath, expertly melding classical elegance with modern aesthetics. Her approach to design emphasizes timeless beauty paired with functional innovation, ensuring that each space is not only visually striking but also perfectly suited to the needs of its users. With meticulous attention to detail, Kathrin crafts environments that elevate the everyday, making each kitchen and bath a testament to her commitment to excellence. Her passion for blending diverse elements into cohesive designs makes her work stand out as both unique and eminently practical.</p>
		</div>
		<div class="col-12 col-lg-6">
			<img src="{{ settings.baseUrl }}img/chantal.webp" class="d-block mx-lg-auto img-fluid" alt="Chantal, a youthful kitchen designer in her late 20s, with a creative and contemporary style, posed in a bright kitchen showroom.">
			<p class="lead mt-4">Chantal is known for her contemporary flair and minimalistic approach at Artisan Kitchen and Bath. Her designs are characterized by clean lines and a modern simplicity that transforms any space into an inviting, expansive haven. A master of incorporating cutting-edge trends with classic design principles, Chantal creates environments that are both stylish and sustainable. Her innovative use of space and materials brings a fresh perspective to every project, ensuring that each client's vision is realized in the most elegant way possible. Energetic and forward-thinking, Chantal’s designs reflect her dynamic personality and her dedication to creating stunning, functional living spaces.</p>
		</div>
	</div>
</section>

<section class="px-4 py-2 mt-2">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-lg-6">
			<h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Installation crew</h2>
			<p class="lead">Our installation crew at Artisan Kitchen and Bath is the backbone of our operations, ensuring that every design vision becomes a tangible reality. This skilled team of carpenters and installers brings precision, diligence, and an eye for detail to every project. They specialize in transforming intricate designs into functional and beautifully finished spaces. From ensuring that every cabinet fits perfectly to achieving the flawless placement of tiles, their expertise is crucial in adhering to the high standards of quality and craftsmanship that our clients expect. The crew's commitment to excellence and their meticulous attention to every aspect of the installation process guarantee the durability and beauty of our kitchens and baths, making each project a masterpiece of form and functionality..</p>
		</div>
		<div class="col-12 col-lg-6">
			<img src="{{ settings.baseUrl }}img/crew.webp" class="d-block mx-lg-auto img-fluid" alt="Four men in a carpentry workshop: one in smart-casual business attire representing the owner, and three in work clothes and aprons as carpenters. They are smiling in a busy workshop setting, emphasizing teamwork and professionalism.">
		</div>
	</div>
</section>
