---
title: About us
description: Artisan Kitchen and Bath, based in Cornwall, Ontario, is your premier destination for personalized custom cabinetry solutions. With an unwavering commitment to excellence in craftsmanship, creativity, and professionalism, our team offers tailored services from design conception to meticulous installation. Whether you're envisioning a new home or remodeling your existing space, our dedication to exceptional quality ensures that our work enhances both the beauty and value of your property to create distinctive, enduring spaces that reflect your unique style and preferences.
layout: layouts/base.njk
image:
  src: about.jpg
  alt: A sleek kitchen featuring white cabinetry, a large marble-topped island with gray seats, stainless steel appliances, dark slate flooring, and pendant cylinder lights.
---
<section class="px-4 py-2 mt-2">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-lg-6">
			<h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meet the owners</h2>
			<p class="lead">Meet Steve and Manny, the dynamic duo whose friendship and shared passion for design and craftsmanship blossomed into the thriving Artisan Kitchen and Bath. Their journey began in a modest workshop in Cornwall, where their dreams and hard work laid the foundation of what would become a beacon of quality and innovation in kitchen and bath design. Starting in their 20s with ambition and a hands-on approach, they’ve grown their business with a personal touch, overseeing every project to ensure it meets their exacting standards. Now, with a talented team of eight employees and a portfolio brimming with continuous, high-quality builds, Steve and Manny remain at the heart of the operation, infusing each space with their relentless energy and creative vision. Their story is one of friendship, dedication, and a commitment to creating spaces that are not just functional, but truly the centerpieces of their clients' homes.</p>
		</div>
		<div class="col-12 col-lg-6">
			<img src="{{ settings.baseUrl }}img/steveandmanny.webp" class="d-block mx-lg-auto img-fluid" alt="Steve and Manny, co-owners in their early 40s, standing in their kitchen showroom. Steve wears jeans with a blazer, and Manny is in slacks and a shirt, both with welcoming smiles.">
		</div>
	</div>
</section>
