---
title: Contact Us
description: We'd love to hear from you! On our Contact Us page, you'll find all the ways you can reach Artisan Kitchen and Bath to start discussing your kitchen or bathroom transformation. Whether you're ready to begin a project or just looking for some initial advice, our team is here to listen and help bring your ideas to life. Fill out our contact form, give us a call, or stop by our showroom in Cornwall—we're always ready to provide expert guidance and personalized solutions. Let's create something beautiful together!
layout: layouts/base.njk
---

<form class="container mt-5" data-netlify="true" netlify-honeypot="bot-field" name="contact" method="post" action="{{ settings.baseUrl }}thanks/">
	<input type="hidden" name="subject" value="ArtisanKitchenAndBath.ca - Inquiry from %{formName}" />
	<div class="mb-5">
		<label for="firstName">First Name <strong>(required)</strong></label>
		<input type="text" class="form-control" id="firstName" name="firstName" required>
	</div>
	<div class="mb-5">
		<label for="lastName">Last Name <strong>(required)</strong></label>
		<input type="text" class="form-control" id="lastName" name="lastName" required>
	</div>
	<div class="mb-5">
		<label for="email">Email <strong>(required)</strong></label>
		<input type="email" class="form-control" id="email" name="email" required>
	</div>
	<fieldset class="mb-5">
		<legend>How did you hear about us?</legend>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="onlineSearch" name="onlineSearch" value="Online Search">
			<label class="form-check-label" for="onlineSearch">Online Search</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="socialMedia" name="socialMedia" value="Instagram / Facebook">
			<label class="form-check-label" for="socialMedia"><a href="https://www.instagram.com/artisankitchenandbath18255/">Instagram</a> / <a href="https://www.facebook.com/ArtisanWoodDesigns">Facebook</a></label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="referral" name="referral" value="From a friend or family member">
			<label class="form-check-label" for="referral">From a friend or family member</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="localAd" name="localAd" value="Local Advertisement">
			<label class="form-check-label" for="localAd">Local Advertisement</label>
		</div>
	</fieldset>
	<div class="d-none">
		<label>
			Don’t fill this out if you’re human: <input name="bot-field" />
		</label>
	</div>
	<div class="mb-5">
		<label for="live">Where do you live? <strong>(required)</strong></label>
		<input type="live" class="form-control" id="live" name="live" required>
	</div>
	<div class="mb-5">
		<label for="message">Please provide a description of the type of project and any other information you may want to tell us. <strong>(required)</strong></label>
		<textarea class="form-control" id="message" name="message" rows="5" required></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<p class="lead text-center">We are looking forward to getting in touch with you!</p>