---
title: Welcome to Artisan Kitchen and Bath
description: Artisan Kitchen and Bath, proudly serving <strong>Southeastern Ontario</strong> with showrooms in <strong>Cornwall</strong> and <strong>Prescott</strong>, is your premier destination for personalized kitchen and bath solutions. With a steadfast commitment to craftsmanship, creativity, and professionalism, our team delivers bespoke services from initial design to precise production and installation. Whether you're building a new home or remodeling an existing space, our focus on quality and elegance ensures that each project enhances the beauty, functionality, and value of your property. Visit one of our showrooms to experience our tailored approach, where passion for woodworking and thoughtful design come together to create distinctive, lasting spaces that reflect your individual style.
layout: layouts/base.njk
image: 
  src: homepage.jpg
  alt: A modern kitchen with white cabinets, a blue wine rack unit, marble countertops, a wooden island, and a black range hood with pendant lights.
button:
  text: About us
  link: /about
home: true
---

<section class="steps bg-dark text-light">
	<div class="container">
	<h2 class="text-center mb-3">Your project in 5 steps</h2>
	<p>Artisan Kitchen and Bath offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.</p>
{% include "partials/steps.njk" %}
	<div class="d-grid gap-2 p-4">
		<a href="/services" class="btn btn-secondary btn-lg px-5 me-md-2 btn-block">Services</a>
	</div>
	</div>
</section>

<section>
	<div class="container">
	<h2 class="text-center mb-3">Our projects</h2>
	<p>At Artisan Kitchen and Bath, we transform your vision into reality, crafting custom kitchen and bath spaces that resonate with your unique style and meet every functional need. Our bespoke projects range from luxurious, tech-savvy kitchens with custom cabinetry and state-of-the-art appliances to serene, spa-like bathrooms with handcrafted vanities and walk-in showers. We meticulously handle every detail from design through installation, ensuring a seamless blend of elegance and modern convenience that not only enhances the beauty of your home but also its value. Join us at our Cornwall showroom to embark on a journey of transformation that reflects the pinnacle of craftsmanship and distinctive design tailored just for you.</p>
	<div class="d-grid gap-2 p-4">
		<a href="/portfolio" class="btn btn-secondary btn-lg px-5 me-md-2 btn-block">Portfolios</a>
	</div>
	</div>
</section>

<section class="bg-dark text-light">
	<div class="container">
	<h2 class="text-center mb-3">Testimony</h2>
	<p>Discover the experiences of our valued clients and witness the transformative power of bespoke design in our Testimonials section. Each reflection is a testament to the passion and precision we pour into every project at Artisan Kitchen and Bath. Here, you’ll find personal stories of spaces reimagined and dreams fulfilled, all through the lens of those who have lived the journey with us. Browse through to feel the warmth of satisfaction and inspiration that our dedication to excellence and personalized service has brought into homes just like yours.</p>
<div class="row">
	<div class="col-lg-6 p-4">
		<blockquote class="blockquote">
			<p class="mb-3">We are thrilled with the transformation Artisan Kitchen and Bath brought to our home! The attention to detail and the quality of craftsmanship have truly exceeded our expectations. From the initial design consultation to the final touches of installation, the team's professionalism and dedication shone through. Our kitchen has become the heart of our home, boasting custom features and smart design that make everyday living both elegant and comfortable. Our bathroom now feels like a personal spa, where every fixture and tile reflects our personal style. We couldn't be happier to have chosen Artisan Kitchen and Bath - they turned our dreams into a reality that we will cherish for years to come.</p>
			<footer class="blockquote-footer">Someone</footer>
		</blockquote>
	</div>
	<div class="col-lg-6 p-4">
		<blockquote class="blockquote">
			<p class="mb-3">Our kitchen renovation experience with Artisan Kitchen and Bath was nothing short of spectacular. The team listened to our every need, translating our ideas into a space that's not only beautiful but incredibly functional. Every morning, as I sip my coffee at our stunning marble island, I am filled with gratitude for the craftsmanship and detail that went into our home. Artisan truly delivered a five-star experience!</p>
			<footer class="blockquote-footer">Someone else</footer>
		</blockquote>
	</div>
	<div class="col-lg-6 p-4">
		<blockquote class="blockquote">
			<p class="mb-3">Our kitchen renovation experience with Artisan Kitchen and Bath was nothing short of spectacular. The team listened to our every need, translating our ideas into a space that's not only beautiful but incredibly functional. Every morning, as I sip my coffee at our stunning marble island, I am filled with gratitude for the craftsmanship and detail that went into our home. Artisan truly delivered a five-star experience!"
			"I'm in awe of the bathroom oasis that Artisan Kitchen and Bath created for us. Their team managed to capture the essence of luxury and relaxation in the design, making our vision come alive with an elegant freestanding tub and a rainfall shower that feels like a daily retreat. Their commitment to excellence is evident in every tile and fixture. Thank you, Artisan, for a job exceptionally well done!</p>
			<footer class="blockquote-footer">Another someone that wasn't ChatGPT</footer>
		</blockquote>
	</div>
</div>
</div>
</section>
 
{% include "partials/clients.njk" %}
