---
title: Welcome to Artisan Kitchen and Bath
description: Artisan Kitchen and Bath, based in Cornwall, Ontario, is your premier destination for personalized kitchen and bath solutions. With an unwavering commitment to excellence in craftsmanship, creativity, and professionalism, our team offers bespoke services from design conception to meticulous production and installation. Whether you're envisioning a new home or remodeling your existing space, our dedication to exceptional quality and elegance ensures that our work enhances both the beauty and value of your property. Visit our showroom to experience our tailored approach, where passion for woodworking and design converge to create distinctive, enduring spaces that reflect your unique style and preferences.
layout: layouts/base.njk
image: 
  src: homepage.jpg
  alt: A modern kitchen with white cabinets, a blue wine rack unit, marble countertops, a wooden island, and a black range hood with pendant lights.
button:
  text: About us
  link: /about
home: true
---

<section class="container steps mt-5">
	<h2 class="text-center">Your project in 5 steps</h2>
	<div class="row">
		<ol class="d-flex flex-wrap justify-content-around fs-4">
			<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
				<i class="fas fa-comments fa-3x mb-3"></i>
				<div>Consultation</div>
			</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
				<i class="fas fa-drafting-compass fa-3x mb-3"></i>
				<div>Design</div>
			</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
				<i class="fas fa-dollar-sign fa-3x mb-3"></i>
				<div>Price</div>
			</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
				<i class="fas fa-cogs fa-3x mb-3"></i>
				<div>Production</div>
			</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
				<i class="fas fa-toolbox fa-3x mb-3"></i>
				<div>Install</div>
			</li>
		</ol>
	</div>
</section>


    <!-- Services Section -->
    <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Services</h2>
                  <p class="text-muted">Artisan Wood Designs offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.</p>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                      <i class="fa fa-pen-nib fa-stack-1x fa-inverse" aria-hidden="true"></i>
                  </span>
                  <p class="service-heading h4">Design</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                      <i class="fa fa-truck fa-stack-1x fa-inverse" aria-hidden="true"></i>
                  </span>
                  <p class="service-heading h4">Install</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                      <i class="fa fa-wrench fa-stack-1x fa-inverse" aria-hidden="true"></i>
                  </span>
                  <p class="service-heading h4">Custom Cabinets</p>
              </div>
          </div>
      </div>
  </section>
  
  <section class="bg-light" id="kitchens">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kitchens</h2>
                <p class="intro-lead-in">We design our kitchens around three main styles each with their own unique feel and appearance. Click through to see some of our past work specially created to meet each customer’s needs, and budget.</p>
            </div>
        </div>
        <div class="row galleries">
			
            <section class="col-md-4 col-sm-6">
                <h3>Traditional</h3>
                <img class="img-fluid" src="{{ settings.baseUrl }}img/portfolio/traditional.jpg" alt="">
				<p><a class="text-uppercase btn btn-primary btn-block mt-2" href="{{ settings.baseUrl }}traditional">Traditional gallery</a></p>
                  <div class="intro-lead-in">
                  	<p>Warm, elegant and cozy, traditionally styled kitchens are timeless and inviting. Traditional kitchens emphasize symmetry, incorporating elaborate details such as:</p>
	                  <ul>
	                      <li>Crown Molding, fluting, corbels and other ornamentation.</li>
	                      <li>Raised panel door styles</li>
	                      <li>Cherry, Maple, Walnut cabinetry</li>
	                      <li>Vintage &amp; Glazed finishes</li>
	                      <li>Antique fixtures and appliances</li>
	                      <li>Wood, stone or other natural materials</li>
	                  </ul>
                  </div>
            </section>

            <section class="col-md-4 col-sm-6">
				<h3>Transitional</h3>
                <img class="img-fluid" src="{{ settings.baseUrl }}img/portfolio/transitional.jpg" alt="">
				<p><a class="text-uppercase btn btn-primary btn-block mt-2" href="{{ settings.baseUrl }}transitional">Transitional gallery</a></p>
				<p class="intro-lead-in">Offering the best of both worlds, transitional kitchens include elements of both traditional and contemporary design equating to a classic look. Eclectic in nature, they mix natural and man-made materials as well as finishes and textures. Subtle accents draw the eye, adding flair without going overboard.</p>
            </section>
            <section class="col-md-4 col-sm-6">
                <h3>Contemporary</h3>
                <img class="img-fluid" src="{{ settings.baseUrl }}img/portfolio/contemporary.jpg" alt="">
				<p><a class="text-uppercase btn btn-primary btn-block mt-2" href="{{ settings.baseUrl }}contemporary">Contemporary gallery</a></p>
                <div class="intro-lead-in">
					<p>Also described as modern, clean and crisp contemporary kitchens are sleek and minimalistic, but far from plain and simple.</p>
					<p>You can expect to see the following characteristics in a contemporary kitchen:</p>
					<ul>
						<li>Horizontal lines</li>
						<li>Textured melamine or wood grain veneers</li>
						<li>White or bold color, Satin or high gloss finishes</li>
						<li>Slab door style, lift up hardware</li>
						<li>No moldings or ornamentation</li>
						<li>Stainless steel and other metallic accents</li>
						<li>Quartz countertops</li>
					</ul>
                </div>
            </section>
        </div>
    </div>
</section>
<section id="bathrooms">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center banner">
                <h2 class="section-heading">Bathrooms</h2>
                <p class="text-muted">A well designed bathroom should complement the style and feel of the home.</p>
                <p><a class="btn btn-primary btn-xl text-uppercase" href="{{ settings.baseUrl }}bathrooms">Bathroom gallery</a></p>
            </div>
        </div>
   </div>
</section>
<section id="counters" class="portfolio bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stone Countertops</h2>
                <p class="text-muted">Offering an extensive array of styles and edging, our countertops serve as the finishing touch to your new custom cabinetry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <span class="portfolio-link">
                    <img src="{{ settings.baseUrl }}img/granite/stone-granite.jpg" class="img-fluid" alt="">
                </span>
                <div class="portfolio-caption">
                    <h4>Granite</h4>
                    <p><strong>Granite</strong> is a coarse grained crystalline igneous rock composed primarily of quartz and feldspar. It forms from slowly cooling magma that is subjected to extreme pressures deep beneath the earth's surface. The natural beauty and sophistication of granite makes it an easy choice for your kitchen remodel.</p>
                    <ul>
                        <li>Naturally beautiful</li>
                        <li>Hard natural stone</li>
                        <li>Extremely durable</li>
                        <li>Scratch &amp; Heat resistant</li>
                        <li>Wear resistant</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 portfolio-item">
                <span class="portfolio-link">
                    <img src="{{ settings.baseUrl }}img/granite/stone-quartzite.jpg" class="img-fluid" alt="">
                </span>
                <div class="portfolio-caption">
                    <h4>Quartzite</h4>
                    <p><strong>Quartzite</strong> is a natural stone formed by the crystallization of sandstone due to heat and pressure underground. Some quartzite are opaque and some are so translucent that light can shine through them. In its’ purest form it’s white like marble, but can have impurities in it that lead to some incredible patterns and colors.</p>
                    <ul>
                        <li>Naturally beautiful and stylish</li>
                        <li>Time durable</li>
                        <li>Natural hard rock</li>
                        <li>Uniform appearance</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 portfolio-item">
                <span class="portfolio-link">
                    <img src="{{ settings.baseUrl }}img/granite/stone-marble.jpg" class="img-fluid" alt="">
                </span>
                <div class="portfolio-caption">
                    <h4>Marble</h4>
                    <p><strong>Marble</strong> is a hard crystalline metamorphic form of limestone, typically white with coloured mottling or streaks, which may be polished and is used in different objects and architecture.</p>
                    <ul>
                        <li>Classic and elegant look</li>
                        <li>Distinct veining pattern</li>
                        <li>Durable when properly maintained</li>
                        <li>Great for bathrooms, backsplashes, fireplaces, furniture tops.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 portfolio-item">
                <span class="portfolio-link">
                    <img src="{{ settings.baseUrl }}img/granite/stone-quartz.jpg" class="img-fluid" alt="">
                </span>
                <div class="portfolio-caption">
                    <h4>Quartz</h4>
                    <p><strong>Quartz</strong> is a man-made material that consists of 93% crushed quartz mixed with pigments and epoxy resin. Unlike natural stone, it doesn’t need periodic sealing, polishing or reconditioning. Because it's non-porous and non-absorbent, it won't draw in moisture from raw or leftover food, which can harbor harmful bacteria. A great choice where overhang is needed without support.</p>
                    <ul>
                        <li>Naturally beautiful</li>
                        <li>Durability in time</li>
                        <li>Scratch resistant</li>
                        <li>Stain resistant</li>
                        <li>High heat resistant</li>
                        <li>No sealing or polishing needed</li>
                        <li>Easy to clean</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
