---
title: Services
description: Artisan Kitchen and Bath offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.
layout: layouts/base.njk
label: services
image:
  src: services.jpg
  alt: A contemporary kitchen with white cabinetry, a marble waterfall island with black stools, stainless steel appliances, and pendant lighting.
---

<section class="bg-dark text-light">
	<h2 class="text-center mb-5">Step by step process...</h2>
		<div class="container">
		<div class="row">
			<section class="my-5 col-md-4">
				<i aria-hidden="true" class="fas fa-comments fa-4x px-3"></i>
				<h3 class="my-4">1. Consultation</h3>
				<p>Meet and discuss the project in depth. We will come to your home and measure the space(s).</p>
			</section>
			<section class="my-5 col-md-4">
				<i aria-hidden="true" class="fas fa-drafting-compass fa-4x px-3"></i>
				<h3 class="my-4">2. Design</h3>
				<p>Our team of designers will create 3D designs of your space(s) and then we will have you come in to review and do necessary modifications if needed. We will then select materials and colours.</p>
			</section>
			<section class="my-5 col-md-4">
				<i aria-hidden="true" class="fas fa-dollar-sign fa-4x px-3"></i>
				<h3 class="my-4">3. Price</h3>
				<p>Once the design and materials have been finalized, we will be able to provide you with a estimate.</p>
			</section>
			<section class="my-5 col-md-4">
				<i aria-hidden="true" class="fas fa-cogs fa-4x px-3"></i>
				<h3 class="my-4">4. Production</h3>
				<p>When everything has been approved, we will come to do final measurements. From there, we will proceed with the ordering process.</p>
			</section>
			<section class="my-5 col-md-4">
				<i aria-hidden="true" class="fas fa-toolbox fa-4x px-3"></i>
				<h3 class="my-4">5. Installing</h3>
				<p>Your project will come to life with the help of our skilled installers.</p>
			</section>
		</div>
		</div>
</section>

<section id="partnership" class="py-2 mt-2">
	<div class="container">
		<h2 class="text-center mb-5">Who we partner with</h2>
		<p>At the heart of every stunning kitchen and bathroom are the high-quality materials and finishes that bring it all together. That's why we at Artisan Kitchen and Bath are proud to partner with industry-leading suppliers of hardware, countertops, and cabinetry. On our Partners page, we showcase the collaborative relationships we've cultivated with these experts, each one contributing to the exceptional craftsmanship that defines our work. From the sleek drawer pulls that add a touch of sophistication to our custom cabinets, to the luxurious countertops that serve as the cornerstone of our functional designs, our partners are integral to the artistry we deliver in each project. Explore the collaborations that help us ensure the highest standards of quality and innovation in every space we create.</p>
	</div>
	<section class="mt-5 py-5 bg-dark text-light">
		<div class="container">
			<h3 class="mb-5 fs-1">Cabinetry</h3>
			<div class="row pb-5">
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.miralis.com/" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/miralis_dark.jpg" class="img-fluid" alt="">
						<span class="visually-hidden">Miralis</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://elmwoodcabinets.com/project/natural-elegance-in-a-contemporary-kitchen/" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/elmwood.png" class="img-fluid" alt="">
						<span class="visually-hidden">Elmwood</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://cabico.com/en/" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/cabico.png" class="img-fluid" alt="">
						<span class="visually-hidden">Cabico</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-5 py-5">
		<div class="container">
			<h3 class="mb-5 fs-1">Countertops</h3>
			<div class="row pb-5">
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://urbanquarry.ca/our-products/" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/urban-quarry.png" class="img-fluid" alt="">
						<span class="visually-hidden">Urban Quarry</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.masterpiecegranite.com" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/masterpiece.png" class="img-fluid" alt="">
						<span class="visually-hidden">Masterpiece Granite</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://interstone.ca" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/logo-interstone-main.jpg" class="img-fluid" alt="">
						<span class="visually-hidden">Interstone Marble & Granite</span>
					</a>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.cambriausa.com" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/cambria-logo-light_edited.webp" class="img-fluid" alt="">
						<span class="visually-hidden">Cambria</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.cosentino.com/en-ca/kitchens/kitchen-countertops/" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/Cosentino.png" class="img-fluid" alt="">
						<span class="visually-hidden">Cosentino</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://hanstone.ca/en/" class="border border-dark border-3">
						<img src="{{ settings.baseUrl }}img/logos/hanstone.png" class="img-fluid" alt="">
						<span class="visually-hidden">HanStone Canada</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-5 bg-dark py-5 text-light">
		<div class="container">
			<h3 class="mb-5 fs-1">Hardware & Tile Suppliers</h3>
			<div class="row pb-5">
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.richelieu.com/ca/en/" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/Richelieu.png" class="img-fluid" alt="">
						<span class="visually-hidden">Richelieu</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://www.berensonhardware.com" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/Berenson.png" class="img-fluid" alt="">
						<span class="visually-hidden">Berenson</span>
					</a>
				</div>
				<div class="col-md-4 mt-3 d-flex justify-content-center">
					<a href="https://eurotilestone.com" class="border border-light border-3">
						<img src="{{ settings.baseUrl }}img/logos/EuroTileStone.png" class="img-fluid" alt="">
						<span class="visually-hidden">Euro Tile & Stone</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</section>
