---
title: Services
desctipton: Artisan Wood Designs offers personalized service from design, production and installation. We hold ourselves to the highest standards of craftsmanship, creativity and professionalism. Whether you are planning a new home or remodeling your present home, the exceptional quality and elegance of our work will enhance both its beauty and its value.
layout: layouts/base.njk
---

	<div class="row" id="partnership">
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://deslaurier.ca/">
				<img src="{{ settings.baseUrl }}img/logos/deslaurier.png" class="img-fluid" alt="">
			</a>
		</div>
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://www.granitdesign.com/">
				<img src="{{ settings.baseUrl }}img/logos/granit-design.png" class="img-fluid" alt="">
			</a>
		</div>
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://www.kitchencraft.com/">
				<img src="{{ settings.baseUrl }}img/logos/kitchen-craft.png" class="img-fluid" alt="">
			</a>
		</div>
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="https://www.miralis.com/en">
				<img src="{{ settings.baseUrl }}img/logos/miralis.png" class="img-fluid" alt="">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://www.naturekast.com/">
				<img src="{{ settings.baseUrl }}img/logos/nature-kast.png" class="img-fluid" alt="">
			</a>
		</div>
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://www.richelieu.com/ca/en/">
				<img src="{{ settings.baseUrl }}img/logos/richelieu.png" class="img-fluid" alt="">
			</a>
		</div>
		<div class="col-md-3 col-sm-6 d-flex justify-content-center">
			<a href="http://urbanquarry.ca/en">
				<img src="{{ settings.baseUrl }}img/logos/urban-quarry.png" class="img-fluid" alt="">
			</a>
		</div>
	</div>
	