---
title: Transitional kitchens
description: Offering the best of both worlds, transitional kitchens include elements of both traditional and contemporary design equating to a classic look. Eclectic in nature, they mix natural and man-made materials as well as finishes and textures. Subtle accents draw the eye, adding flair without going overboard.
layout: layouts/base.njk
gallery: transitional
---

{% include "partials/gallery.njk" %}
