// Gallery styles
#gallery {

    .row {
        position: relative;
		margin-top: 5px;
        
        img {
            opacity: .85;
        }
          
        .img-fluid {
            width: 100%;
            height: auto;
        }
    }
}
