#mainNav {
	.navbar-nav {
		display: flex;
		justify-content: space-between;

		.nav-item {
			margin: 0 15px;

			@media (max-width: 991.98px) {
				margin: 10px 0;
			}

			&:not(:last-child) {
				border-right: 1px solid #000; // Replace with your desired border color
				padding-right: 15px; // Adjust padding to your preference
			}
		}
	}
}