// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "kitchen.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "traditional.scss";
@import "gallery.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";
@import "bathrooms.scss";
@import "clients.scss";
