<!-- Clients Aside -->
<aside class="pb-5">
	<h2 class="text-center mb-3">Our cabinet dealers</h2>
	<div class="row mt-5 bg-dark py-5 px-2">
		<div class="col-md-4 d-flex mt-3 justify-content-center">
			<a href="https://www.miralis.com/" class="border border-light border-3">
				<img src="{{ settings.baseUrl }}img/logos/miralis_dark.jpg" class="img-fluid" alt="">
				<span class="visually-hidden">Miralis</span>
			</a>
		</div>
		<div class="col-md-4 d-flex mt-3 justify-content-center">
			<a href="https://elmwoodcabinets.com/project/natural-elegance-in-a-contemporary-kitchen/" class="border border-light border-3">
				<img src="{{ settings.baseUrl }}img/logos/elmwood.png" class="img-fluid" alt="">
				<span class="visually-hidden">Elmwood</span>
			</a>
		</div>
		<div class="col-md-4 d-flex mt-3 justify-content-center">
			<a href="https://cabico.com/en/" class="border border-light border-3">
				<img src="{{ settings.baseUrl }}img/logos/cabico.png" class="img-fluid" alt="">
				<span class="visually-hidden">Cabico</span>
			</a>
		</div>
	</div>
	<div class="d-grid gap-2 p-4 container">
		<a class="btn btn-secondary btn-lg px-5 me-md-2 btn-block" href="/services#partnership">See who we partner with</a>
	</div>
</aside>