<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center contact">
				<h2 class="section-heading">Contact Us</h2>
				<div itemscope="" itemtype="http://schema.org/LocalBusiness">
					<h3 class="h4" itemprop="name">Artisan Kitchen and Bath<a class="visible-xs visible-sm" href="maps:daddr=45.0422772,-74.6974629&amp;saddr=Current%20Location"> (Click for directions)</a></h3>
					<p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">2747 Marleau Avenue</span><br>
						<span itemprop="addressLocality">Cornwall</span>, <span itemprop="addressRegion">ON</span><br>
						<span itemprop="postalCode">K6H&nbsp;7B6</span>
					</p>
					<p itemprop="telephone"><i class="fa fa-phone" aria-hidden="true"></i>613-933-7272</p>
					<p itemprop="email"><a href="mailto:info@artisankitchenandbath.ca"><i class="fa fa-envelope" aria-hidden="true"></i>Email Us</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.1451159819117!2d-74.69746268394523!3d45.042276979098126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc1744c90fd3f9%3A0x545b36d9479eb799!2sArtisan+Kitchen+and+Bath!5e0!3m2!1sen!2sca!4v1503074386498" width="100%" height="450" allowfullscreen></iframe>
		</div>
	</div>
</section>
