<footer class="bg-dark py-5 text-light mt-5">
	<div class="container">
		<div class="row">
			<section itemscope="" itemtype="http://schema.org/LocalBusiness" class="col-md-4">
				<h2 class="fs-4 mt-5 mb-4">Contact information</h2>
				<ul class="list-unstyled">
					<li class="mb-2" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><i class="fa fa-map-marker mx-2" aria-hidden="true"></i><span itemprop="streetAddress">18255 Tyotown Rd</span>,<br />
						<span itemprop="addressLocality">South Glengarry</span>,<br />
						<span itemprop="addressRegion">Ontario</span>,<br />
						<span itemprop="postalCode">K6H 7S7</span></li>
					<li class="mb-2" itemprop="telephone"><i class="fa fa-phone mx-2" aria-hidden="true"></i>613-933-7272</li>
					<li itemprop="email"><a href="mailto:info@artisankitchenandbath.ca"><i class="fa fa-envelope mx-2" aria-hidden="true"></i>info@artisankitchenandbath.ca</a></li>
				</ul>
			</section>
			<section class="col-md-4">
				<h2 class="fs-4 mt-5 mb-4">Hours</h2>
				<ul class="list-unstyled">
					<li>Monday - Friday: 9:00 AM - 5:00 PM</li>
				</ul>
			</section>
			<section class="col-md-4">
				<h2 class="fs-4 mt-5 mb-4">Follow us</h2>
				<ul class="list-inline social-buttons">
					<li class="list-inline-item px-4"><a target="_blank" href="https://www.facebook.com/ArtisanWoodDesigns"><i class="fab fa-facebook fa-3x" aria-hidden="true"></i></a></li>
					<li class="list-inline-item px-4"><a target="_blank" href="https://www.instagram.com/artisankitchenandbath18255/"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</section>
		</div>
	</div>
	<p class="text-center mt-2">&copy;2024 Artisan Kitchen and Bath</p>
</footer>
