<footer class="text-bg-dark pt-3">
	<div class="container">
		<div class="row">
			<section itemscope itemtype="https://schema.org/LocalBusiness" class="col-12">
				<h2 class="fs-3 mt-5 mb-4">
					<i class="fas fa-home me-2" aria-hidden="true"></i>Showrooms
				</h2>

				<div class="row">
					<!-- Cornwall Showroom -->
					<div class="col-lg-6">
						<h3 class="fs-5">Cornwall</h3>
						<div class="row">
							<!-- Address Column -->
							<div class="col-12 col-sm-6">
								<ul class="list-unstyled">
									<li class="mb-2" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
										<i class="fa fa-map-marker mx-2" aria-hidden="true"></i>
										<span itemprop="streetAddress">18255 Tyotown Rd</span><br />
										<span itemprop="addressLocality">South Glengarry</span><br />
										<span itemprop="addressRegion">Ontario</span><br />
										<span itemprop="postalCode">K6H 7S7</span>
									</li>
									<li class="mb-2" itemprop="telephone">
										<i class="fa fa-phone mx-2" aria-hidden="true"></i>613-933-7272
									</li>
								</ul>
							</div>
							<!-- Map Column -->
							<div class="col-12 col-sm-6">
								<iframe src="https://www.google.com/maps?q=18255+Tyotown+Rd+Ontario&output=embed" width="100%" height="200" style="border:0;" allowfullscreen loading="lazy"></iframe>
							</div>
							<h4 class="fs-5 mt-4">Hours</h4>
							<ul class="list-unstyled">
								<li>Monday - Friday: 9:00 AM - 5:00 PM</li>
							</ul>
						</div>
					</div>

					<!-- Prescott Showroom -->
					<div class="col-lg-6">
						<h3 class="fs-5">Prescott</h3>
						<div class="row">
							<!-- Address Column -->
							<div class="col-12 col-sm-6">
								<ul class="list-unstyled">
									<li class="mb-2" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
										<i class="fa fa-map-marker mx-2" aria-hidden="true"></i>
										<span itemprop="streetAddress">1652 Cty Rd 2</span><br />
										<span itemprop="addressLocality">Prescott</span><br />
										<span itemprop="addressRegion">Ontario</span><br />
										<span itemprop="postalCode">K0E 1T0</span>
									</li>
									<li class="mb-2" itemprop="telephone">
										<i class="fa fa-phone mx-2" aria-hidden="true"></i>613-925-2777
									</li>
								</ul>
							</div>
							<!-- Map Column -->
							<div class="col-12 col-sm-6">
								<iframe src="https://www.google.com/maps?q=1652+Cty+Rd+2+Prescott+Ontario&output=embed" width="100%" height="200" style="border:0;" allowfullscreen loading="lazy"></iframe>
							</div>
							<h4 class="fs-5 mt-4">Hours</h4>
							<ul class="list-unstyled">
								<li>Monday - Friday: 9:00 AM - 5:00 PM</li>
							</ul>
						</div>
					</div>
				</div>

				<p>
					<i class="fa fa-envelope fa-2x mx-2" aria-hidden="true"></i>
					Contact us by email: <a href="mailto:info@artisankitchenandbath.ca" itemprop="email">info@artisankitchenandbath.ca</a>
				</p>
			</section>

			<section class="col-md-4 py-4">
				<h2 class="fs-4 mb-4">Follow us</h2>
				<ul class="list-inline social-buttons">
					<li class="list-inline-item px-4">
						<a href="https://www.facebook.com/ArtisanWoodDesigns">
							<i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
						</a>
					</li>
					<li class="list-inline-item px-4">
						<a href="https://www.instagram.com/artisankitchenandbath18255/">
							<i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<div class="bg-secondary-subtle text-dark py-3">
		<p class="text-center mt-2">&copy;2025 Artisan Kitchen and Bath</p>
	</div>
</footer>
