<div id="gallery" class="container-fluid">
	{% for image in images[gallery] %}
	<div class="row">
		<a href="{{ settings.baseUrl }}img/galleries/{{ gallery }}/{{ image.name }}.jpg" class="lightbox" data-group="{{ gallery }}">
			<img src="{{ settings.baseUrl }}img/galleries/{{ gallery }}/{{ image.name }}-thumb.jpg" class="img-fluid" alt="{{ image.alt }}">
		</a>
	</div>
	{% endfor %}
</div>
