<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ description }}">
	<meta name="author" content="Artisan Kitchen and Bath">
	{% include "partials/openGraph.njk" %}
	<title>{{ title }} - Artisan Kitchen and Bath - Cornwall, Ontario</title>
	{% include "partials/css.njk" %}
</head>
