<!-- Header -->

<header class="container">
	<div class="intro-text">
		<h1>{{ title }}</h1>
		<p class="intro-lead-in">
			<span class="description">{{ description }}</span>
		</p>
	</div>
</header>
