<!-- Navigation -->
<nav class="navbar navbar-expand-sm" id="mainNav">
	<a class="navbar-brand" href="{{ settings.baseUrl }}">
		<img class="img-fluid" src="/img/logos/artisan.png" width="300px" alt="Artisan Kitchen and Bath logo">
		<span class="visually-hidden">Artisan Kitchen and Bath</span>
	</a>
	<div class="container d-flex justify-content-between">
		{# <div class="col-12 px-0"> #}
			<button class="navbar-toggler w-100 mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<span class="navbar-toggler-icon"></span>
			</button>
		{# </div> #}
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ settings.baseUrl }}services">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ settings.baseUrl }}portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ settings.baseUrl }}about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ settings.baseUrl }}contact">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
</nav>