<!-- Navigation -->
<nav class="navbar" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="{{ settings.baseUrl }}index.html#page-top">Artisan Kitchen and Bath</a>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
	</div>
	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="{{ settings.baseUrl }}index.html#services">Services</a>
			<a class="navbar-item" href="{{ settings.baseUrl }}index.html#kitchens">Portfolio</a>
			<a class="navbar-item" href="{{ settings.baseUrl }}index.html#bathrooms">About Us</a>
			<a class="navbar-item" href="#contact">Contact Us</a>
		</div>
	</div>
</nav>