<!-- Navigation -->
<nav class="navbar navbar-expand-lg container" id="mainNav">
	<div class="row">
		<div class="col-md-3">
			<a class="navbar-brand" href="{{ settings.baseUrl }}index.html#page-top">
				<img src="{{ settings.baseUrl }}img/logos/artisan.png" class="img-fluid" alt="Artisan Kitchen and Bath">
			</a>
		</div>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		</button>
		<div class="col-md-9">
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase d-flex justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ settings.baseUrl }}index.html#services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if type === "kitchen" %} active{% endif %}" href="{{ settings.baseUrl }}index.html#kitchens">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if gallery === "bathroom" %} active{% endif %}" href="{{ settings.baseUrl }}index.html#bathrooms">Bathroom</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ settings.baseUrl }}index.html#counters">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
