
<!-- Open Graph -->
<meta property="og:title" content="{{ title }} - Artisan Kitchen and Bath - Cornwall, Ontario" />
<meta property="og:image" content="/img/logos/artisan-invert.png" />
<meta property="og:description" content="{{ description }}" />
