<div class="row">
	<ul class="d-flex flex-wrap justify-content-around fs-4 list-unstyled">
		<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
			<i aria-hidden="true" class="fas fa-comments fa-3x mb-3"></i>
			<div>Consultation</div>
		</li>
		<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
			<i aria-hidden="true" class="fas fa-drafting-compass fa-3x mb-3"></i>
			<div>Design</div>
		</li>
		<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
			<i aria-hidden="true" class="fas fa-dollar-sign fa-3x mb-3"></i>
			<div>Price</div>
		</li>
		<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
			<i aria-hidden="true" class="fas fa-cogs fa-3x mb-3"></i>
			<div>Production</div>
		</li>
		<li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center my-4">
			<i aria-hidden="true" class="fas fa-toolbox fa-3x mb-3"></i>
			<div>Installion</div>
		</li>
	</ul>
</div>
